*.iml
.gradle
/local.properties
/secret.properties
/.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# Compose build files
composeApp/build
composeApp/release
build
.kotlin

# iOS pods / build files
iosApp/Pods
iosApp/iosApp.xcworkspace
iosApp/iosApp.xcodeproj
iosApp/Podfile.lock
composeApp/exportedSwiftSrc
.vercel
